body {
    background-color: #2A2A2A;
}

.menu {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 40px;
    padding: 10px 20px;
    border-radius: 8px;
}

.menu a {
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    color: #ff9800;
}